.Link-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    width: 100%;
}

.Link-section button{
    width: 1000px;
    height: 76px;
    margin: 15px;
    font-size: 18px;
    font-weight: 600;
    background-color: #EAECF0;
    border: 1px solid #EAECF0;
    border-radius: 8px;
}

.Link-section button:hover{
    background-color: #d0d5dd;
}

@media screen and (max-width: 800px) {
    .Link-section {
        width: 50%;
        margin-bottom: 20px;
    }

    .Link-section button {
        width: 300px;
        height: 68px;
        margin: 10px;
        font-size: 14px;
    }
}
